.book-card {
  background: ghostwhite;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 2px;

  &:hover {
    border: 2px solid gray;
  }

  .card-body {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
}
