.book-card {
  background: #fce8e8;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid lightgray;
  padding: 2px;

  &:hover {
    box-shadow: 0 0 0 5px gray;
  }

  .card-body {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
}
